
#home_content{"ng-app" => "HomePage"}
  .main(ng-controller = "MainCtrl")
    #sb( search-box items = "all_areas"
                 width = '500px'
                 search-fields = 'city,url')


  
    

