.app(ng-app='Results' id='ng-app' ng-cloak)
  .rental_units(ng-controller='ResultsCtrl' ng-show = 'units_loaded') 
    .area(area_id ="#{@area_id}")
    #filters(class = 'pie')
      .slider_wrap(ng-show = 'units_loaded')
        %span Price Range:
        %input( type="number" min="{{price_floor}}" max="{{price_ceiling}}" ng-model="min_price")
        %input( type = "number" min {{price_floor}} max ="{{price_ceiling}} ng-model ="max_price")
        %span Bathrooms Range:
        .slider(  floor="{{bathrooms_floor}}" ceiling="{{bathrooms_ceiling}}" ng-model-low="min_bathrooms" ng-model-high="max_bathrooms")
        %span Bedrooms Range:
        .slider(  floor="{{bedrooms_floor}}" ceiling="{{bedrooms_ceiling}}" ng-model-low="min_bedrooms" ng-model-high="max_bedrooms" ng-mouseup='set_range()')
    %select(ng-model = "num_units")
      %option(value= 8) Limit results to 
      %option(value= 4 ) 4
      %option(value= 8 ) 8
      %option(value= 16 ) 16
      %option(value= 32 ) 32
      %option(value= 64 ) 64
    %select(ng-model = "order_by")
      %option(value = 'price') Order by
      %option(value= 'price') price
      %option(value= 'bathrooms' ) bathrooms
      %option(value= 'bedrooms' ) bedrooms
      %option(value= 'address' ) address
    %i(class = "icon-arrow-{{order_direction}}" ng-click = "reverse_order()")
    showing {{units_in_range_indexes.length}} from: {{area_units.length}}
    #gallery_wrap(ng-show = 'units_loaded')
      .gallery(units-gallery units="page_units" on-unit-click='open_unit')
      .clear
      .pagination_wrap
        %span.pagination(pagination num-pages='numPages' current-page='currentPage' max-size="maxSize" on-select-page="selectPage(page)")
        %span#to_page
          go to page:
          %input.number(type='number' ng-model='currentPage' min = "1")
          from {{numPages}}
    


