/* Will be compiled down to a single stylesheet with your sass files */



/*HOME PAGE*/
body{
  background: url('/assets/homebg.jpg');
  
}
#home-page{
	position: absolute;
	background: #f7f8f8;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	padding: 20px;
	min-height: 600px;
	overflow: hidden;
}

#home-page #featured{
	width: 250px;
	float: right;
	margin-right: 20px;
	border-left: 1px solid #e9e9e9;
	padding-left: 20px
}

#home-page #sb{
	float: left;
	width: 300px;
}


/*UNIT PAGE*/
#unit-page{
	position: absolute;
	background: #f7f8f8;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	padding: 20px;
	min-height:600px;
}

#unit-page #unit-tabset{

  width: 800px;
  
 
}


/*#unit-page #pictures-carousel{
	width: 700px;
 
 
}
*/

#unit-page #pictures-carousel #carousel-img {
	padding: 50px 60px;
	min-height:200px;
}
#unit-page #pictures-carousel .carousel-inner{
	background: black;
  	
  	
	
}

#unit-page #dates-availability{
  float: left;
  margin-left: 20px;

}

/*Results page*/

#results-page{
	position: relative;
	background: #f7f8f8;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	padding: 20px;
}

.clear{
  clear: both; 
}



.view-enter, .view-leave{
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter{
	position: absolute;
	opacity: 0;
	top: -1000px;
}
.view-enter.view-enter-active{
	top: 0px;
	opacity: 1
}

.view-leave{
	opacity: 1;
	position: absolute;
	top: 0px;
}
.view-leave.view-leave-active{
	top: 1000px;
	opacity: 0
}


