/* Will be compiled down to a single stylesheet with your sass files */



/*HOME PAGE*/
body{
  background: #efefef;

}

.navbar-inner{
  background: #f8f8f8
}
#main{
  margin-top: 85px;
  padding-bottom: 80px;
  min-height: 600px;
}
#home-page{
	background: url(/assets/housebg.png);
  background-size: 100%;
    padding-left: 20px;
  height: 600px;
  overflow: hidden;


}

#home-page #featured{
	width: 250px;
	float: right;
	color: white;
	border-left: 1px solid #e9e9e9;
	padding-left: 20px
}

#home-page #search-group{
	margin-top: 200px;
	float: left;
	width: 300px;
}

#home-page #search-group #sb input{
	background: #f5f5f5;
	border: 1px solid black
}

nav h4{
	
	font-family: Georgia,serif;
}

/*UNIT PAGE*/
#unit-page{
	padding: 20px;
	min-height:600px;
}

#unit-page #unit-tabset{
  width: 800px;
}
/*#unit-page #pictures-carousel{
	width: 700px;
}
*/
#unit-page #pictures-carousel #carousel-img {
	padding: 50px 60px;
	min-height:200px;
}
#unit-page #pictures-carousel .carousel-inner{

}

#unit-page #dates-availability{
  float: left;
  margin-left: 20px;
}

/*Results page*/
#gallery_wrap{
	float: left;
	width: 600px;
	text-align: center
}
#results-page{
	padding: 20px;
}

#results-page #filters{
	float: left;
	width: 15%;
	padding-right: 15px;
}

.pagination_wrap{
	width: 100%;
	text-align: center
}
		
#to_page{
	margin: 20px
}

.number{
	width: 30px
}



.clear{
  clear: both; 
}
.view-enter{
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}
.view-leave{
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}
.view-enter{
	position: absolute;
	left: -1000px;
	opacity: 0.5
}
.view-enter.view-enter-active{
	width: 100%;
	left: 0px;
	opacity: 1;
}
.view-leave{

	position: absolute;
	left: 0px;
	opacity:1;
}
.view-leave.view-leave-active{
	left: 100%;
	opacity: 0.5
}
#footer{
	/*position: relative;*/
	bottom: 0%;
	width: 100%;
	height: 300px;
	color: white;
	background: #414141;

}

#navigation{
	padding-top: 15px;
	float: right;
	text-align: center;
}

.ui-slider .ui-slider-range{
	background: #ffffff;
}