/* Will be compiled down to a single stylesheet with your sass files */
#unit-tabset{

  width: 800px;
 
}
#pictures-carousel{
  width: 500px;
  left: 50%;
  margin-left: -250px;
 
}

#pictures-carousel img{
  width: 300px;
  height: 300px;
}

#dates-availability{
  float: left;
  margin-left: 20px;

}
.clear{
  clear: both;
}